#selection > rect
{
    stroke: #00f;
    stroke-width: 1;
    fill: #000;
    fill-opacity: 0.2;
    cursor: move;
}

#selection .handle
{
    fill: #f00;
    cursor: crosshair;
}

.selection-ratio
{
    display: inline
}

.selection_ratio input[type="number"]
{
    width: 5em;
}

#selection-ratio__width
{
    margin-right: 1em;
}

.thumbnail-size
{
    display: inline;
}
