{% set images = {"album": "folder", "media": "image"} %}
{% extends "base.html" %}

{% block title %}{{ album.name }}{% endblock %}

{% block content %}
    <section id="metadata">
        <form>
            <label for="name">Title: </label><input type="text" id="name" name="name" value="{{ album.name }}"><br>
            {% if album.modified_at %}<label>Created: </label><span id="created_at">{{ album.created_at.isoformat() }}</span><br>{% endif %}
            {% if album.modified_at %}<label>Modified: </label><span id="modified_at">{{ album.modified_at.isoformat() }}</span><br>{% endif %}
            <input type="button" id="submit" value="Update"><input type="reset" value="Reset">
        </form>

        <ul>
            <li><a href="{{ url_for("album.create", parent_id=album.id)
                            if album.id else url_for("album.create_root") }}">New sub-album</a></li>
            {% if album.id %}<li><a href="">New media</a></li>{% endif %}
        </ul>
    </section>

    <ul class="children">
    {% for child in album.children %}
        <li><a href="{{ url_for("{}.get".format(child.type), id_=child.id) }}"><i class="fa fa-{{ images[child.type] }} fa-lg"></i>&nbsp;{{ child.name }}</a></li>
    {% endfor %}
    </ul>

    {% if album.id %}
    <script src="{{ url_for("static", filename="item_form.js") }}"></script>
    <script>
        function main() {
            format_dates(["#created_at", "#modified_at"]);
            var on_submit = submit_item_form.bind(
                undefined, ["name", "author", "keywords"], "{{ url_for("album.patch", id_=album.id) }}");
            $("#submit").click(on_submit);
        }

        $(document).ready(function(event) { main() });
    </script>
    {% endif %}

{% endblock %}
