{% extends "base.html" %}

{% block title %}{{ album.name }}{% endblock %}

{% block content %}
    <ul class="children">
    {% for child in album.children %}
        <li><a href="{{ url_for("album.get", id_=child.id) }}">{{ child.name }}</a></li>
    {% endfor %}
    {% for child in album.media %}
        <li><a href="{{ url_for("media.get", id_=child.id) }}">{{ child.title }}</a></li>
    {% endfor %}
    </ul>

    <ul>
        <li><a href="{{ url_for("album.create", parent_id=album.id)
                        if album.id else url_for("album.create_root") }}">New sub-album</a></li>
        {% if album.id %}<li><a href="">New media</a></li>{% endif %}
    </ul>

{% endblock %}
