<!DOCTYPE HTML>
<html>

<head>
    {% block head %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
    <title>{% block title %}{% endblock %} - Redmill</title>
    {% endblock %}
</head>

<body>

    <h1><a href="{{ url_for("album.get_roots") }}">Redmill</a></h1>

    {% block navigation %}
    <nav class="parents">
        <ul>
        {% if album and album.id %}
        {% set dummy = parents.append(album) %}
        {% endif %}
        {% for item in parents %}
            {% set endpoint = "{}.get".format(item.type) if item.id else "album.get_roots" %}
            {% if item.id %}
                {% set values = { "id_": item.id } %}
            {% else %}
                {% set values= {} %}
            {% endif %}
            {% if children_filter and children_filter != ["published"] %}
                {% set dummy = values.update({"children": "|".join(children_filter)}) %}
            {% endif %}
            {% set url = url_for(endpoint, **values) %}
            <li><a href="{{ url }}">{% if loop.last %}<span class="leaf">{% endif %}{{ item.name }}{% if loop.last %}</span>{% endif %}</a>{% if not loop.last %}&rarr;{% endif %}</li>
        {% endfor %}
        </ul>
    </nav>
    {% endblock %}

    <div id="overlay" style="display: none">
        <div class="overlay_background">
            {{ tree | safe }}
            <input id="overlay_move" type="button" value="Move">
            <input id="cancel_move" type="button" value="Cancel">
        </div>
    </div>

    {% block content %}{% endblock %}
</body>

</html>
