{% extends "base.html" %}

{% block title %}{{ album.name if album else "Root" }}{% endblock %}

{% block content %}
    <form action="" method="post">
        <fieldset>
            <legend>New album</legend>
            <label for="name">Name: </label><input type="text" name="name" id="name">
            <br>
            <input type="button" id="submit" value="Create">
        </fieldset>
    </form>
{% endblock %}

{% block footer %}
    <script>
        function on_success(data, text, xhr)
        {
            window.location.href = xhr.getResponseHeader("Location");
        }

        function submit()
        {
            data = { parent_id: {{ album.id if album else "null" }}, name: $("#name").val() };
            console.log(JSON.stringify(data));
            $.ajax({
                type: "POST", url: "{{ url_for("album.post") }}",
                data: JSON.stringify(data), dataType: "json",
                contentType: "application/json", success: on_success
            });
        }

        $("#submit").click(submit);

    </script>
{% endblock %}
