{% extends "base.html" %}

{% block title %}{{ album.name }}{% endblock %}

{% block content %}
    <form>
        <section id="metadata">
            <label for="name">Title: </label><input type="text" id="name" name="name"><br>
            <label for="author">Author: </label><input type="text" id="author" name="author"><br>
            <label for="keywords">Keywords: </label><input type="text" id="keywords" name="keywords"><br>

            <input type="button" id="submit" value="Create">
        </section>

        <section id="media_content">
            <input type="file" id="content_file" name="content"><br>
            <img id="content_image" src="">
        </section>
    </form>

    <script src="{{ url_for("static", filename="item_form.js") }}"></script>
    <script>
        function submit() {
            data = {
                parent_id: {{ album.id  }},
                name: $("#name").val(),
                author: $("#author").val(),
                keywords: encode_list($("#keywords").val())
            };
            var regex = /data:[^,]+,(.*)+/;
            var match = $("#preview").attr("src").match(regex);
            data.content = match[1];

            $.ajax({
                type: "POST", url: "{{ url_for("media.post") }}",
                data: JSON.stringify(data), dataType: "json",
                contentType: "application/json",
                success: function (data, text, xhr) {
                    window.location.href = xhr.getResponseHeader("Location");
                }
            });
        }

        function main() {
            $("#content_file").change(function(event) {
                var reader = new FileReader();
                reader.onload = function(event) {
                    $("#content_image").attr("src", event.target.result);
                };
                reader.readAsDataURL(event.target.files[0]);
                $("#content_image").show();
            });

            $("#submit").click(submit);
            $("#preview").hide();
        }

        $(document).ready(function(event) { main() });
    </script>
{% endblock %}
