{% macro display_operation(index, name, parameters) %}
    {% set choices = ["rotate", "crop", "resize", "explicit"] %}
    <div class="operation">
        <select name="operation_{{ index }}">
        {% for choice in choices %}
            <option value="{{ choice }}" {{ "selected" if name == choice else "" }}>{{ choice|capitalize }}</option>
        {% endfor %}
        </select>
        {{ parameters }}
    </div>
{% endmacro %}

{% extends "base.html" %}

{% block title %}{{ derivative.media.name }}{% endblock %}

{% block content %}

    <svg id="canvas">
        <image xlink:href="{{ url_for("media_content.get", id_=derivative.media.id) }}" height="100%" width="100%"/>
        <g id="selection">
            <rect id="selection__frame"/>
            <circle id="selection__nw-handle" cx="0" cy="0" r="5" class="handle"/>
            <circle id="selection__se-handle" r="5" class="handle"/>
        </g>
    </svg>

    <br>

    <fieldset class="selection-ratio">
        <legend>Selection ratio</legend>

        <input id="selection-ratio__free" type="radio" name="ratio">
        <label for="selection-ratio__free">Free</label>
        <br>

        <input id="selection-ratio__fixed" type="radio" name="ratio">
        <label for="selection-ratio__fixed">Fixed</label>
        <br>

        <label for="selection-ratio__width">Width: </label>
        <input id="selection-ratio__width" type="number" min="1" required>
        <label for="selection-ratio__height">Height: </label>
        <input id="selection-ratio__height" type="number" min="1" required>
    </fieldset>

    <fieldset class="thumbnail-size">
        <legend>Thumbnail size</legend>

        <label for="thumbnail-size__width">Width: </label>
        <input id="thumbnail-size__width" type="number" min="1" required>
        <label for="thumbnail-size__height">Height: </label>
        <input id="thumbnail-size__height" type="number" min="1" required>
    </fieldset>

    <script src="{{ url_for("static", filename="resize.js") }}"></script>
    <script>
        function main() {
            resize.init(
                '{{ url_for("derivative.patch", media_id=derivative.media.id, id_=derivative.id)}}',
                '{{ url_for("media_content.get", id_=derivative.media.id) }}',
                {{ operations|safe }}
            );
            resize.setRatioType('fixed');
        }
        document.addEventListener('DOMContentLoaded', main);
    </script>

{% endblock %}
