{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <section id="metadata">
        <form>
            {% for id_, (label, element, attributes, content, close, after) in metadata %}
                {% if label %}<label for="{{ id_|safe }}">{{ label }}</label>{% endif -%}
                <{{ element}} id="{{ id_ }}" {% for name, value in attributes.items() %}{{ name }}="{{ value }}" {% endfor %}>
                {{- content -}}
                {%- if close %}</{{ element }}>{% endif -%}
                {{ after|safe }}
            {% endfor %}

            {% for id_, (element, attributes, after) in buttons %}
                <{{ element}} id="{{ id_ }}" {% for name, value in attributes.items() %}{{ name }}="{{ value }}" {% endfor %}>
                {{ after|safe }}
            {% endfor %}
        </form>
    </section>

    <section id="media_content">
        <input type="file" id="content_file" ><br>
        <img id="content" src="{{ content }}" data-rm-type="media_content">
    </section>

    <script src="{{ url_for("static", filename="item_form.js") }}"></script>
    <script>
        function submit() {
            submit_item_form({{ send|tojson|safe }}, "{{ method }}", "{{ url }}");
        }

        function archive_item() {
            $("#status").val(
                ($("#status").val() != "archived")?"archived":"published");
            submit_item_form(["status"], "{{ method }}", "{{ url }}");
        }

        function main() {
            $("#content_file").change(function(event) {
                var reader = new FileReader();
                reader.onload = function(event) {
                    $("#content").attr("src", event.target.result);
                };
                reader.readAsDataURL(event.target.files[0]);
                $("#content").show();
            });

            format_dates(["#created_at", "#modified_at"]);

            $("#submit").click(submit);
            $("#archive").click(archive_item);
        }

        $(document).ready(function(event) { main() });
    </script>
{% endblock %}
