{% extends "base.html" %}

{% block title %}{{ media.name }}{% endblock %}

{% block content %}
    <section id="metadata">
        <form>
            <label for="name">Title: </label><input type="text" id="name" name="name" value="{{ media.name }}"><br>
            <label for="author">Author: </label><input type="text" id="author" name="author" value="{{ media.author }}"><br>
            <label for="keywords">Keywords: </label><input type="text" id="keywords" name="keywords" value="{{ ", ".join(media.keywords) }}" data-rm-type="list"><br>
            <label>Created: </label><span id="created_at">{{ media.created_at.isoformat() }}</span><br>
            <label>Modified: </label><span id="modified_at">{{ media.modified_at.isoformat() if media.modified_at else "" }}</span><br>
            <label>Size: </label>{{ size }}<br>
            <input type="button" id="submit" value="Update"><input type="reset" value="Reset">
        </form>
    </section>

    <section id="image_content">
        <img src="{{ url_for("media_content.get", id_=media.id) }}">
    </section>

    <script src="{{ url_for("static", filename="item_form.js") }}"></script>
    <script>
        function main() {
            format_dates(["#created_at", "#modified_at"]);
            var on_submit = submit_item_form.bind(
                undefined, ["name", "author", "keywords"], "{{ url_for("media.patch", id_=media.id) }}");
            $("#submit").click(on_submit);
        }

        $(document).ready(function(event) { main() });
    </script>
{% endblock %}
